body {
    width: 1920px;
    margin: 0 auto;
    font: #393d41;
    font-family: Open sans;
    font-size: 1.2rem;
    line-height: 1.65;
    
}

header img {
    margin-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em
}

header div {
    background-color: black;
}
h1 {
    color: #25a2c3 ;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 5em; 
    text-align: center;
    padding-top: 1em;
    } 
    section {
        background: url(../images/banner.jpg);
       background-size: contain;
        background-position: center;
        text-align: center;
       padding-top: 5em;
       padding-bottom: 10em;
       
        line-height: 1.5
    }

    button {
        background-color: #f04c2f ;
        color: white;
        margin-bottom: 3em;
        margin-top: 3em;
        font-size: large;
        font-family: Mont serrat bold;
        font-weight: bold;
        width: 180px;
        height: 50px;
        border-radius: 5px;
        border: none;
    }

    h2 {
        color: #34b0c9;
        font-weight: bold;
        font-family: Montserrat;
        font-weight: bold;
        line-height: 1.5;
    }

    #notebook {
        border-radius: 50%;
        width: 600px;
        display: inline-block;
        margin: 5em 5em 5em 15em;
       
    }
    
    
  #display {
    display: inline-block;
        vertical-align: top;
        margin-top: 5em;
  }

 

 #all {
    padding-top: 3em;
    margin-bottom: 1em;
 }

 #workwant {
    padding-top: 1em;
    margin-bottom: 1em;
 }

 #role {
    padding-top: 2em;
    margin-bottom: 1em;
 }

 #freework {
    padding-top: 2em;
    margin-bottom: 1em;
 }

 #backgroundgara {
    background-color: #e22d0e;
}

#guarantee  {
    color: white;
   margin: 1em;
   padding-top: 1em;
   margin-top: 5em;
}

#backgroundgara p {
    color: white;
    text-align: center;
    margin-top: 2em;
}
#ceo {
    padding-bottom: 5em;
}

#mario {
    padding-top: 2em;
}

#mypc {
  
    border: solid 1px #dee1e3;
    display: inline-block;
        margin: 3em 3em 3em 13em;
        text-align: center;
}
#blackpc {
    
    border: solid 1px #dee1e3;
    display: inline-block;
        margin: 1em 1em 1em 1em;
        text-align: center;
    
 }

#workmate {
   
    border: solid 1px #dee1e3;
    display: inline-block;
    margin: 1em 1em 1em 3em;
    text-align: center;

}
footer {
    background-color: #25a2c3;
    margin-top: 4em;
   padding-bottom: 3em;
   text-align: center; 
}
footer h2 {
    color: white;
    padding-top: 1em;
    font-size: 40px;
    padding-bottom: 1em;
}
footer hr {
    color: white ;
    margin-right: 42em ;
    margin-left: 42em;
    margin-top: 1em;
}
footer p {
    color: white;
}

#pixal {
    color: #c8e7f0;
}

#contact a {
    color: #c8e7f0;
}